In [10]:
import numpy as np
import pandas as pd

0. Access some historical IMDB data files from the shared drive:
https://drive.google.com/drive/folders/1dl6nw0HO9XVrT8dSBJHHn3mDW9EWQpXS?usp=sharing

In [4]:
# wget https://drive.google.com/uc?export=download&id=FILEID
#!wget --no-check-certificate 'https://docs.google.com/uc?export=download&id=FILEID' -O FILENAME

#https://drive.google.com/file/d/1wWbLYAsVldXrnOxdJlu4URsPynYykY22/view?usp=sharing title.ratings.tsv.gz
#https://drive.google.com/file/d/1ctjnShHP2qNA1l2nKi1l4qWe3hE5SsPH/view?usp=sharing title.basics.tsv.gz
#https://drive.google.com/file/d/1jHKr1FOCigt15gVhrNmtHCHRgzzR1ZGc/view?usp=sharing title.akas.tsv.gz


#!wget --no-check-certificate 'https://docs.google.com/uc?export=download&id=1wWbLYAsVldXrnOxdJlu4URsPynYykY22' -O title.ratings.tsv.gz
#!wget --no-check-certificate 'https://docs.google.com/uc?export=download&id=1ctjnShHP2qNA1l2nKi1l4qWe3hE5SsPH' -O title.basics.tsv.gz
#!wget --no-check-certificate 'https://docs.google.com/uc?export=download&id=1jHKr1FOCigt15gVhrNmtHCHRgzzR1ZGc' -O title.akas.tsv.gz

#gdown --folder --id '1dl6nw0HO9XVrT8dSBJHHn3mDW9EWQpXS'
# This chunk works.
#!pip uninstall --yes gdown # After running this line, restart Colab runtime.

#!pip install gdown -U --no-cache-dir

import gdown
#url = 'https://drive.google.com/drive/folders/1dl6nw0HO9XVrT8dSBJHHn3mDW9EWQpXS'
#gdown.download_folder(url, quiet=True)


!gdown --fuzzy 'https://drive.google.com/file/d/1wWbLYAsVldXrnOxdJlu4URsPynYykY22/view?usp=sharing'
!gdown --fuzzy 'https://drive.google.com/file/d/1ctjnShHP2qNA1l2nKi1l4qWe3hE5SsPH/view?usp=sharing'
!gdown --fuzzy 'https://drive.google.com/file/d/1jHKr1FOCigt15gVhrNmtHCHRgzzR1ZGc/view?usp=sharing'

Downloading...
From: https://drive.google.com/uc?id=1wWbLYAsVldXrnOxdJlu4URsPynYykY22
To: /content/title.ratings.tsv.gz
100% 4.32M/4.32M [00:00<00:00, 22.1MB/s]
Downloading...
From: https://drive.google.com/uc?id=1ctjnShHP2qNA1l2nKi1l4qWe3hE5SsPH
To: /content/title.basics.tsv.gz
100% 96.1M/96.1M [00:01<00:00, 85.5MB/s]
Downloading...
From: https://drive.google.com/uc?id=1jHKr1FOCigt15gVhrNmtHCHRgzzR1ZGc
To: /content/title.akas.tsv.gz
100% 54.1M/54.1M [00:00<00:00, 89.5MB/s]

In [8]:
!gunzip *.gz
!ls -latr

total 632264
drwxr-xr-x 4 root root      4096 Dec 23 14:32 .config
drwxr-xr-x 1 root root      4096 Dec 23 14:32 sample_data
drwxr-xr-x 1 root root      4096 Jan  6 18:32 ..
drwxr-xr-x 2 root root      4096 Jan  6 19:07 DSI_Pre_Assignment_2022
-rw-r--r-- 1 root root  14866228 Jan  6 19:11 title.ratings.tsv
-rw-r--r-- 1 root root 452106547 Jan  6 19:11 title.basics.tsv
-rw-r--r-- 1 root root 180436875 Jan  6 19:11 title.akas.tsv
drwxr-xr-x 1 root root      4096 Jan  6 19:15 .

1. Read the files 'title.basics.tsv.gz', 'title.akas.tsv.gz' and 'title.ratings.tsv.gz' into three separate dataframes using the read_csv method in Pandas.

In [28]:
#ratings = pd.read_csv('./title.ratings.tsv')
#basics = pd.read_csv('./title.basics.tsv')
#akas = pd.read_csv('./title.akas.tsv')
# parse error, need to specify delimiter TAB
#ParserError: '	' expected after '"' : quotes used in cells so use argument quoting=3
ratings = pd.read_csv("./title.ratings.tsv", delimiter="\t", engine="python", quoting=3)
basics = pd.read_csv("./title.basics.tsv", delimiter="\t", engine="python", quoting=3)
akas = pd.read_csv("./title.akas.tsv", delimiter="\t", engine="python", quoting=3)

In [29]:
ratings.count()

tconst           874203
averageRating    874203
numVotes         874203
dtype: int64

In [22]:
basics.count()

tconst            5330276
titleType         5330276
primaryTitle      5330270
originalTitle     5330270
isAdult           5330276
startYear         5330276
endYear           5330276
runtimeMinutes    5330276
genres            5330276
dtype: int64

In [23]:
akas.count()

titleId            3674735
ordering           3674735
title              3674735
region             3674678
language           3674735
types              3674735
attributes         3674735
isOriginalTitle    3674735
dtype: int64

In [30]:
ratings = ratings.drop_duplicates()
basics = basics.drop_duplicates()
akas = akas.drop_duplicates()

In [31]:
ratings.count()

tconst           874203
averageRating    874203
numVotes         874203
dtype: int64

In [26]:
basics.count()

tconst            5330276
titleType         5330276
primaryTitle      5330270
originalTitle     5330270
isAdult           5330276
startYear         5330276
endYear           5330276
runtimeMinutes    5330276
genres            5330276
dtype: int64

In [27]:
akas.count()

titleId            3674735
ordering           3674735
title              3674735
region             3674678
language           3674735
types              3674735
attributes         3674735
isOriginalTitle    3674735
dtype: int64

3.0 Using the Pandas 'merge' method, combine all three dataframes using the Title ID (titleID or tconst) to perform the merge and save it into a new dataframe.
3.1 How many lines does the resulting dataframe have if you use an inner merge or outer merge? Make sure you understand the difference.
3.2 Using the unique() method, compute how many different 'titleTypes' there are

In [32]:
merge_inner = ratings
merge_inner = merge_inner.merge(basics, how='inner', left_on='tconst', right_on='tconst')
merge_inner = merge_inner.merge(akas, how='inner', left_on='tconst', right_on='titleId')
merge_inner.count()

tconst             1885165
averageRating      1885165
numVotes           1885165
titleType          1885165
primaryTitle       1885165
originalTitle      1885165
isAdult            1885165
startYear          1885165
endYear            1885165
runtimeMinutes     1885165
genres             1885165
titleId            1885165
ordering           1885165
title              1885165
region             1885157
language           1885165
types              1885165
attributes         1885165
isOriginalTitle    1885165
dtype: int64

In [33]:
merge_outer = ratings
merge_outer = merge_outer.merge(basics, how='outer', left_on='tconst', right_on='tconst')
merge_outer = merge_outer.merge(akas, how='outer', left_on='tconst', right_on='titleId')
merge_outer.count()

tconst             6910572
averageRating      2133310
numVotes           2133310
titleType          6910572
primaryTitle       6910566
originalTitle      6910566
isAdult            6910572
startYear          6910572
endYear            6910572
runtimeMinutes     6910572
genres             6910572
titleId            3674735
ordering           3674735
title              3674735
region             3674678
language           3674735
types              3674735
attributes         3674735
isOriginalTitle    3674735
dtype: int64

In [39]:
merge_inner.head()

      tconst  averageRating  numVotes  ...        types attributes isOriginalTitle
0  tt0000001            5.8      1422  ...  imdbDisplay         \N               0
1  tt0000001            5.8      1422  ...           \N         \N               0
2  tt0000001            5.8      1422  ...           \N         \N               0
3  tt0000001            5.8      1422  ...     original         \N               1
4  tt0000002            6.4       168  ...     original         \N               1

[5 rows x 19 columns]

In [40]:
merge_outer.head()

      tconst  averageRating  numVotes  ...        types attributes isOriginalTitle
0  tt0000001            5.8    1422.0  ...  imdbDisplay         \N               0
1  tt0000001            5.8    1422.0  ...           \N         \N               0
2  tt0000001            5.8    1422.0  ...           \N         \N               0
3  tt0000001            5.8    1422.0  ...     original         \N               1
4  tt0000002            6.4     168.0  ...     original         \N               1

[5 rows x 19 columns]

In [43]:
titleTypes = merge_inner.titleType.unique()
print(titleTypes)
print(titleTypes.size)

['short' 'movie' 'tvMovie' 'tvSeries' 'tvEpisode' 'tvShort' 'tvMiniSeries'
 'tvSpecial' 'video' 'videoGame']
10

In [44]:
titleTypes = merge_outer.titleType.unique()
print(titleTypes)
print(titleTypes.size)

['short' 'movie' 'tvMovie' 'tvSeries' 'tvEpisode' 'tvShort' 'tvMiniSeries'
 'tvSpecial' 'video' 'videoGame' nan]
11