<a href="https://colab.research.google.com/github/tejlibre/Pre-DSI/blob/dev/DSI_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

0. Access some historical IMDB data files from the shared drive:
https://drive.google.com/drive/folders/1dl6nw0HO9XVrT8dSBJHHn3mDW9EWQpXS?usp=sharing

In [2]:
# wget https://drive.google.com/uc?export=download&id=FILEID
#!wget --no-check-certificate 'https://docs.google.com/uc?export=download&id=FILEID' -O FILENAME

#https://drive.google.com/file/d/1wWbLYAsVldXrnOxdJlu4URsPynYykY22/view?usp=sharing title.ratings.tsv.gz
#https://drive.google.com/file/d/1ctjnShHP2qNA1l2nKi1l4qWe3hE5SsPH/view?usp=sharing title.basics.tsv.gz
#https://drive.google.com/file/d/1jHKr1FOCigt15gVhrNmtHCHRgzzR1ZGc/view?usp=sharing title.akas.tsv.gz


#!wget --no-check-certificate 'https://docs.google.com/uc?export=download&id=1wWbLYAsVldXrnOxdJlu4URsPynYykY22' -O title.ratings.tsv.gz
#!wget --no-check-certificate 'https://docs.google.com/uc?export=download&id=1ctjnShHP2qNA1l2nKi1l4qWe3hE5SsPH' -O title.basics.tsv.gz
#!wget --no-check-certificate 'https://docs.google.com/uc?export=download&id=1jHKr1FOCigt15gVhrNmtHCHRgzzR1ZGc' -O title.akas.tsv.gz

#gdown --folder --id '1dl6nw0HO9XVrT8dSBJHHn3mDW9EWQpXS'
# This chunk works.
!pip uninstall --yes gdown # After running this line, restart Colab runtime.

!pip install gdown -U --no-cache-dir

import gdown
#url = 'https://drive.google.com/drive/folders/1dl6nw0HO9XVrT8dSBJHHn3mDW9EWQpXS'
#gdown.download_folder(url, quiet=True)


!gdown --fuzzy 'https://drive.google.com/file/d/1wWbLYAsVldXrnOxdJlu4URsPynYykY22/view?usp=sharing'
!gdown --fuzzy 'https://drive.google.com/file/d/1ctjnShHP2qNA1l2nKi1l4qWe3hE5SsPH/view?usp=sharing'
!gdown --fuzzy 'https://drive.google.com/file/d/1jHKr1FOCigt15gVhrNmtHCHRgzzR1ZGc/view?usp=sharing'

Found existing installation: gdown 3.6.4
Uninstalling gdown-3.6.4:
  Successfully uninstalled gdown-3.6.4
Collecting gdown
  Downloading gdown-4.2.0.tar.gz (13 kB)
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
    Preparing wheel metadata ... done
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from gdown) (1.15.0)
Requirement already satisfied: requests[socks] in /usr/local/lib/python3.7/dist-packages (from gdown) (2.23.0)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from gdown) (4.6.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from gdown) (4.62.3)
Requirement already satisfied: filelock in /usr/local/lib/python3.7/dist-packages (from gdown) (3.4.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown) (2021.10.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown) (2.10)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown) (1.7.1)
Building wheels for collected packages: gdown
  Building wheel for gdown (PEP 517) ... done
  Created wheel for gdown: filename=gdown-4.2.0-py3-none-any.whl size=14262 sha256=900af2d5819a6f9f567b3e6f13895ca916a10b8716b00e5813477a5349188e9f
  Stored in directory: /tmp/pip-ephem-wheel-cache-xwc92xvf/wheels/8c/17/ff/58721d1fabdb87c21a0529948cf39e2be9af90ddbe4ad65944
Successfully built gdown
Installing collected packages: gdown
Successfully installed gdown-4.2.0
Downloading...
From: https://drive.google.com/uc?id=1wWbLYAsVldXrnOxdJlu4URsPynYykY22
To: /content/title.ratings.tsv.gz
100% 4.32M/4.32M [00:00<00:00, 21.3MB/s]
Downloading...
From: https://drive.google.com/uc?id=1ctjnShHP2qNA1l2nKi1l4qWe3hE5SsPH
To: /content/title.basics.tsv.gz
100% 96.1M/96.1M [00:05<00:00, 18.3MB/s]
Downloading...
From: https://drive.google.com/uc?id=1jHKr1FOCigt15gVhrNmtHCHRgzzR1ZGc
To: /content/title.akas.tsv.gz
100% 54.1M/54.1M [00:00<00:00, 55.1MB/s]

In [3]:
!gunzip *.gz
!ls -latr

total 632260
drwxr-xr-x 4 root root      4096 Dec 23 14:32 .config
drwxr-xr-x 1 root root      4096 Dec 23 14:32 sample_data
drwxr-xr-x 1 root root      4096 Jan  9 10:58 ..
-rw-r--r-- 1 root root  14866228 Jan  9 11:00 title.ratings.tsv
-rw-r--r-- 1 root root 452106547 Jan  9 11:01 title.basics.tsv
-rw-r--r-- 1 root root 180436875 Jan  9 11:01 title.akas.tsv
drwxr-xr-x 1 root root      4096 Jan  9 11:01 .

1. Read the files 'title.basics.tsv.gz', 'title.akas.tsv.gz' and 'title.ratings.tsv.gz' into three separate dataframes using the read_csv method in Pandas.

In [4]:
#ratings = pd.read_csv('./title.ratings.tsv')
#basics = pd.read_csv('./title.basics.tsv')
#akas = pd.read_csv('./title.akas.tsv')
# parse error, need to specify delimiter TAB
#ParserError: '	' expected after '"' : quotes used in cells so use argument quoting=3
ratings = pd.read_csv("./title.ratings.tsv", delimiter="\t", engine="python", quoting=3)
basics = pd.read_csv("./title.basics.tsv", delimiter="\t", engine="python", quoting=3)
akas = pd.read_csv("./title.akas.tsv", delimiter="\t", engine="python", quoting=3)

In [5]:
ratings.count()

tconst           874203
averageRating    874203
numVotes         874203
dtype: int64

In [6]:
basics.count()

tconst            5330276
titleType         5330276
primaryTitle      5330270
originalTitle     5330270
isAdult           5330276
startYear         5330276
endYear           5330276
runtimeMinutes    5330276
genres            5330276
dtype: int64

In [7]:
akas.count()

titleId            3674735
ordering           3674735
title              3674735
region             3674678
language           3674735
types              3674735
attributes         3674735
isOriginalTitle    3674735
dtype: int64

In [8]:
ratings = ratings.drop_duplicates()
basics = basics.drop_duplicates()
akas = akas.drop_duplicates()

In [9]:
ratings.count()

tconst           874203
averageRating    874203
numVotes         874203
dtype: int64

In [10]:
basics.count()

tconst            5330276
titleType         5330276
primaryTitle      5330270
originalTitle     5330270
isAdult           5330276
startYear         5330276
endYear           5330276
runtimeMinutes    5330276
genres            5330276
dtype: int64

In [11]:
akas.count()

titleId            3674735
ordering           3674735
title              3674735
region             3674678
language           3674735
types              3674735
attributes         3674735
isOriginalTitle    3674735
dtype: int64

3.0 Using the Pandas 'merge' method, combine all three dataframes using the Title ID (titleID or tconst) to perform the merge and save it into a new dataframe.
3.1 How many lines does the resulting dataframe have if you use an inner merge or outer merge? Make sure you understand the difference.
3.2 Using the unique() method, compute how many different 'titleTypes' there are

In [12]:
merge_inner = ratings
merge_inner = merge_inner.merge(basics, how='inner', left_on='tconst', right_on='tconst')
merge_inner = merge_inner.merge(akas, how='inner', left_on='tconst', right_on='titleId')
merge_inner.count()

tconst             1885165
averageRating      1885165
numVotes           1885165
titleType          1885165
primaryTitle       1885165
originalTitle      1885165
isAdult            1885165
startYear          1885165
endYear            1885165
runtimeMinutes     1885165
genres             1885165
titleId            1885165
ordering           1885165
title              1885165
region             1885157
language           1885165
types              1885165
attributes         1885165
isOriginalTitle    1885165
dtype: int64

In [13]:
merge_outer = ratings
merge_outer = merge_outer.merge(basics, how='outer', left_on='tconst', right_on='tconst')
merge_outer = merge_outer.merge(akas, how='outer', left_on='tconst', right_on='titleId')
merge_outer.count()

tconst             6910572
averageRating      2133310
numVotes           2133310
titleType          6910572
primaryTitle       6910566
originalTitle      6910566
isAdult            6910572
startYear          6910572
endYear            6910572
runtimeMinutes     6910572
genres             6910572
titleId            3674735
ordering           3674735
title              3674735
region             3674678
language           3674735
types              3674735
attributes         3674735
isOriginalTitle    3674735
dtype: int64

In [14]:
merge_inner.head()

      tconst  averageRating  numVotes  ...        types attributes isOriginalTitle
0  tt0000001            5.8      1422  ...  imdbDisplay         \N               0
1  tt0000001            5.8      1422  ...           \N         \N               0
2  tt0000001            5.8      1422  ...           \N         \N               0
3  tt0000001            5.8      1422  ...     original         \N               1
4  tt0000002            6.4       168  ...     original         \N               1

[5 rows x 19 columns]

In [15]:
merge_outer.head()

      tconst  averageRating  numVotes  ...        types attributes isOriginalTitle
0  tt0000001            5.8    1422.0  ...  imdbDisplay         \N               0
1  tt0000001            5.8    1422.0  ...           \N         \N               0
2  tt0000001            5.8    1422.0  ...           \N         \N               0
3  tt0000001            5.8    1422.0  ...     original         \N               1
4  tt0000002            6.4     168.0  ...     original         \N               1

[5 rows x 19 columns]

In [16]:
titleTypes = merge_inner.titleType.unique()
print(titleTypes)
print(titleTypes.size)

['short' 'movie' 'tvMovie' 'tvSeries' 'tvEpisode' 'tvShort' 'tvMiniSeries'
 'tvSpecial' 'video' 'videoGame']
10

In [17]:
titleTypes = merge_outer.titleType.unique()
print(titleTypes)
print(titleTypes.size)

['short' 'movie' 'tvMovie' 'tvSeries' 'tvEpisode' 'tvShort' 'tvMiniSeries'
 'tvSpecial' 'video' 'videoGame' nan]
11

4. Make a new dataframe from step 3 by selecting only rows corresponding to English-language films ('en') OR US-region films ('US') AND only those that are 
movies (using the 'titleType' column). Put the resulting data into a new dataframe; call it df_new.

In [19]:
merge_inner.columns

Index(['tconst', 'averageRating', 'numVotes', 'titleType', 'primaryTitle',
       'originalTitle', 'isAdult', 'startYear', 'endYear', 'runtimeMinutes',
       'genres', 'titleId', 'ordering', 'title', 'region', 'language', 'types',
       'attributes', 'isOriginalTitle'],
      dtype='object')

In [20]:
merge_inner.titleType.unique()

array(['short', 'movie', 'tvMovie', 'tvSeries', 'tvEpisode', 'tvShort',
       'tvMiniSeries', 'tvSpecial', 'video', 'videoGame'], dtype=object)

In [21]:
merge_inner.language.unique()

array(['\\N', 'sv', 'en', 'tr', 'es', 'sr', 'cs', 'fa', 'fr', 'bg', 'ca',
       'nl', 'qbn', 'pt', 'ru', 'qbp', 'ar', 'rn', 'de', 'yi', 'uk', 'ka',
       'he', 'hr', 'sl', 'tg', 'sk', 'cmn', 'kk', 'da', 'el', 'fi', 'it',
       'gsw', 'pl', 'mr', 'qbo', 'gl', 'ms', 'th', 'ta', 'af', 'la', 'hy',
       'hi', 'ur', 'yue', 'te', 'bn', 'lt', 'mk', 'et', 'gd', 'tl', 'lv',
       'bs', 'cy', 'id', 'qal', 'goh', 'eu', 'ml', 'ro', 'hu', 'pa', 'uz',
       'ja', 'wo', 'no', 'is', 'sq', 'vi', 'ga', 'gu', 'nqo', 'kn', 'xh',
       'mi', 'ps', 'az', 'ky', 'fro', 'myv', 'ko', 'iu', 'st', 'zu', 'tn',
       'zh', 'ku'], dtype=object)

In [22]:
merge_inner.region.unique()

array(['HU', 'RU', 'US', '\\N', 'FR', 'RO', 'GB', 'PT', 'ES', 'UY', 'DE',
       'IT', 'FI', 'PL', 'AR', 'BR', 'XWW', 'TR', 'DK', 'XEU', 'SK', 'CZ',
       'SE', 'MX', 'GR', 'RS', 'XYU', 'AT', 'VE', 'CSHH', 'JP', 'AU',
       'NL', 'SI', 'NO', 'IR', 'UA', 'CA', 'CO', 'BG', 'BE', 'IN', 'DZ',
       'BF', 'XWG', 'NZ', 'VN', 'SUHH', 'EE', 'IS', 'DDDE', 'HR', 'CL',
       'LT', 'EG', 'GE', 'CH', 'PA', 'HK', 'CN', 'XSI', 'IE', 'XSA', 'PE',
       'IL', 'CU', 'KR', 'BA', 'BUMM', 'YUCS', 'XPI', 'BJ', 'PR', 'MY',
       'CM', 'AZ', 'ZA', 'TH', 'BO', 'DO', 'AL', 'EC', 'SG', 'LV', 'MA',
       'LI', 'LU', 'ID', 'PH', 'MZ', 'BM', 'PY', 'TW', 'JM', 'MD', 'LB',
       'TM', 'GL', 'MK', 'CR', 'TN', 'JO', 'KG', 'PK', 'LK', 'GT', 'XAS',
       'SN', 'TJ', 'NE', 'CI', 'MC', 'GH', 'TT', 'BS', 'SY', 'AO', 'KH',
       'GA', 'SV', 'MR', 'CY', 'ET', 'ML', 'NG', 'UZ', 'LY', 'SR', 'AM',
       'PG', 'IQ', 'BW', 'NI', 'ZM', 'CG', 'KZ', 'KP', 'XKO', 'GI', 'LA',
       'GW', 'BD', 'ZW', 'NP', 'BY', 'MN', 'FO', 'PS', 'MO', 'VDVN', 'GN',
       'AW', 'KW', 'HT', 'TZ', 'SL', 'SM', 'AF', 'TO', 'BT', 'MT', 'TG',
       'HN', 'AD', 'ZRCD', 'GY', 'CSXX', 'ER', nan, 'SA', 'SO', 'IM',
       'MU', 'BH', 'KE', 'GP', 'RW', 'TD', 'XKV', 'CV', 'AE', 'SD', 'AG',
       'NU', 'OM', 'CD', 'QA', 'BB', 'YE', 'LS', 'LC', 'ME', 'MV', 'BI',
       'MH', 'VI', 'DM', 'XNA', 'BZ', 'FJ', 'MW', 'LR', 'SZ', 'UG', 'MG',
       'AN', 'VU', 'GU', 'MM', 'TV', 'WS', 'NC', 'BN', 'VA', 'GQ', 'TL',
       'MQ', 'GM', 'PW', 'PF', 'GD', 'CF', 'RE', 'SB'], dtype=object)

In [23]:
merge_inner[((merge_inner["language"]=="en") | (merge_inner["region"]=="US")) & (merge_inner["titleType"]=="movie")].loc[:,["primaryTitle","region","language"]]

                               primaryTitle region language
51                               Miss Jerry     US       \N
574           The Corbett-Fitzsimmons Fight     US       \N
1446                                 Hamlet     US       \N
1520         The Fairylogue and Radio-Plays     US       \N
1797              Hamlet, Prince of Denmark     US       \N
...                                     ...    ...      ...
1885040              Temporary Difficulties     US       \N
1885103                              Bearer    XWW       en
1885112                  Tuulte tahutud maa    XWW       en
1885138    Aickarakkonathe Bhishaguaranmaar     IN       en
1885140  What Have We Done to Deserve This?    XWW       en

[179685 rows x 3 columns]

In [24]:
df_new = merge_inner[((merge_inner["language"]=="en") | (merge_inner["region"]=="US")) & (merge_inner["titleType"]=="movie")]

5. Add a new column to df_new with column title 'log10Votes' which gives the log_10 number of the 'numVotes' column.

In [25]:
df_new["numVotes"]

51          70
574        266
1446        10
1520        26
1797        16
          ...
1885040     20
1885103      9
1885112     17
1885138    213
1885140      8
Name: numVotes, Length: 179685, dtype: int64

In [26]:
df_new.loc[:,"log10Votes"]=np.log10(df_new["numVotes"])

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1596: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1743: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(ilocs[0], value)

In [27]:
df_new["log10Votes"]

51         1.845098
574        2.424882
1446       1.000000
1520       1.414973
1797       1.204120
             ...
1885040    1.301030
1885103    0.954243
1885112    1.230449
1885138    2.328380
1885140    0.903090
Name: log10Votes, Length: 179685, dtype: float64

6. Lower the case of all text in the 'genres' column.

In [28]:
df_new["genres"] = df_new["genres"].apply(lambda x: x.lower())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

6. Using Groupby (or other technique) group all data by 'genres' and display the top 10
highest genres by

 6.1 mean number of log10Votes
 
 6.2 mean averageRating

In [29]:
mean_rating = df_new.groupby("genres")["averageRating"].mean()
mean_rating.sort_values(ascending=False).head(10)

genres
documentary,history,western        9.300000
history,sport                      9.200000
documentary,news,reality-tv        8.800000
animation,crime,documentary        8.525000
biography,history,music            8.500000
adventure,documentary,western      8.433333
documentary,drama,thriller         8.433333
comedy,mystery,sport               8.400000
biography,documentary,talk-show    8.300000
action,documentary,fantasy         8.300000
Name: averageRating, dtype: float64

In [30]:
mean_log10Votes = df_new.groupby("genres")["log10Votes"].mean()
mean_log10Votes.sort_values(ascending=False).head(10)

genres
action,fantasy,war            5.405722
action,family,romance         4.801753
animation,drama,war           4.396304
family,music,musical          4.396252
documentary,sport,thriller    4.386731
action,adventure,sci-fi       4.384822
horror,musical,sci-fi         4.340484
biography,fantasy,horror      4.271842
action,adventure,thriller     4.142012
adventure,drama,sci-fi        4.123983
Name: log10Votes, dtype: float64